            <form action="/blogs/comment/{{post.id}}" method="POST">
            <label for="comment-text">Add comment</label>
            <textarea type="text" id="comment-text" name="comment-text" rows="4" cols="50"></textarea>
            <button type="submit" class="btn" href="/blogs/comment/{{post.id}}">Submit</button>
            </form>