    <div class="container mt-4"></div>
        <h1 class="mb-4">Blog Posts</h1>
        <div class="row">
            {{#each posts}}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/blogs/{{this.id}}" class="stretched-link">{{this.blog_title}}</a></h5>
                            <p class="card-text">Date: {{this.blog_date}}</p>
                        </div>
                    </div>
                </div>
            {{else}}
                <p>No blog posts found.</p>
            {{/each}}
        </div>
    </div>