
    <h1>Blog Posts</h1>
    {{#each posts}}
        <div class="blog-post card card-rounded">
            <a href="/blogs/{{this.id}}" >
                <h2>Title: {{this.blog_title}}</h2>
                <p>Date: {{this.blog_date}}</p>
            </a>
        </div>
    {{else}}
        <p>No blog posts found.</p>
    {{/each}}