<h2 class="mb-4">Login</h2>

<form class="form login-form">
  <div class="mb-3">
    <label for="username-login" class="form-label">Username:</label>
    <input class="form-control input-lg-screen" type="text" id="username-login" />
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password:</label>
    <input class="form-control input-lg-screen" type="password" id="password-login" />
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <button class="btn btn-primary" type="submit">Login</button>
    <a class="btn btn-outline-secondary" href="/signup">Sign up</a>
  </div>
</form>

<script src="/js/login.js"></script>