<form class="new-blog-form">
    <h2>New blog</h2>
    <div class="mb-3">
        <label for="blog_title" class="form-label">Title:</label>
        <input type="text" class="form-control input-lg-screen" id="blog_title" name="blog_title" required>
    </div>
    <div class="mb-3">
        <label for="blog_text" class="form-label">Text:</label>
        <textarea class="form-control input-lg-screen" id="blog_text" name="blog_text" rows="4"></textarea>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<script src="/js/newBlog.js"></script>