<h2 class="mb-4">Signup</h2>
<form class="signup-form">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input id="username" type="text" name="username" class="form-control input-lg-screen">
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" type="password" name="password" class="form-control input-lg-screen">
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
<script src="/js/signup.js"></script>